#### 자료구조 : set = 집합
- 서로 다른 그룹간 연산작업을 보다 쉽게 하기 위한 목적으로 탄생된 자료구조
- set() // list() // tuple() // dict()
- 리스트 (*각각의 세부값에 인덱스 값을 부여해서 이터러블한 객체라고 부를 수 있는 것이고 이터러블하기 때문에 반복문을 쓸 수 있음)
- 튜플 (*각각의 세부값에 인덱스 값을 부여해서 이터러블한 객체라고 부를 수 있는 것이고 이터러블하기 때문에 반복문을 쓸 수 있음)
- 딕셔너리 (*각각의 세부값에 인덱스 값을 부여하지 않았기 때문에 이터러블한 객체라 할 수 없고, 반복문도 쓸 수 없음)
- 세트=집합(*인덱스 값을 부여받지 않았으나, 이터러블한 객체이고 반복문도 쓸 수 있음) ->유사배열,겉으로는 유사하나 실제로는 DNA가 다름
- set은 데이터의 중복값을 필터링할 수 있는 유일한 함수
- 크롤링 시, 찾아온 값이 거의 대부분 리스트의 형태로 들어옴. => 굳이 반복적으로 불필요하게 값을 찾아오는 경우가 부지기수 => 중복된 값을 하나로 정리하는 기능을 가장 많이 사용함!!

In [1]:
data_set01 = set()
type(data_set01)

set

In [2]:
data_set02 = {"apple", "dell", "samsung" , "lg"}
data_set02

{'apple', 'dell', 'lg', 'samsung'}

In [3]:
data_set03 = set("apple")
data_set03

{'a', 'e', 'l', 'p'}

In [6]:
# data_set04 =set("sm","jyp") -> set에는 두 개의 인자값을 줄 수 없음. 아래처럼 중괄호로 묶어야 가능

{"sm", "jyp"}

{'jyp', 'sm'}

In [7]:
for data in data_set02 : 
    print(data)

lg
apple
dell
samsung

In [11]:
# data_set02[0]  -> 이터러블 하지만, 인덱스 값 없어서 오류 뜸

print("motorola" in data_set02)
print("apple" in data_set02)

False
True

In [12]:
data04 = {"피카츄","라이츄","꼬부기"}

In [13]:
data05 = {"잠만보","파이리","피카츄"}

In [17]:
data04 & data05   # 교집합    #그룹간 비교 가능한게 set의 장점

{'피카츄'}

In [18]:
data04 | data05   #합집합

{'꼬부기', '라이츄', '잠만보', '파이리', '피카츄'}

In [19]:
data04 - data05

{'꼬부기', '라이츄'}

In [20]:
data05 - data04

{'잠만보', '파이리'}

In [22]:
data04 ^ data05   #교집합을 제외한 나머지 요소들만 출력

{'꼬부기', '라이츄', '잠만보', '파이리'}