### 반복문

```
for 변수 in (리스트 || 문자열 => 이터러블한 객체속성을 가지고 있는 자료구조) (|| = or  && = and) :
    실행문

while은 조건이 존재
    실행문 -> 조건이 참일 경우에 실행된다.
```

In [2]:
lan = ["python","TS","Node"]
for item in lan :
    print(item)
    
# for item in ["python","TS","Node"] :
#    print(item)
    
# 반복 순회해서 출력했다.

python
TS
Node
python
TS
Node

In [4]:
for num in [1,2,3,4,5,6,7,8,9,10] :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [30]:
for num in range(10) : 
    print(num)

0
1
2
3
4
5
6
7
8
9

- range() 함수 사용법
- range(시작값(start),끝값(stop),단계값(step))
- start : 순서의 시작을 나타내는 숫자. 이 숫자는 포함되지 않으며, 기본값은 0
- stop : 순서의 끝을 나타내는 숫자. 이 숫자는 포함되지 않음.(-1 숫자까지 포함됨)
- step : 숫자 사이의 간격을 나타내는 숫자. 기본값은 1
- range()함수는 start에서 시작하여 stop 전까지 step 간격으로 숫자를 생성. 이 생성된 숫자들은 기본적으로 정수로 표현되며, 리스트와 유사한 시퀀스 객체인 'range 객체'를 반환한다.

In [32]:
for i in range(1,11,2) :
    print(i)

1
3
5
7
9

In [33]:
numbers = list(range(1,11))

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
for num in range(5) :
    print(num * 2)

0
2
4
6
8

In [16]:
for num in range(1,11) :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [19]:
for num in range(1,4) :
    input("최애 음식은?")

최애 음식은? 햄버거
최애 음식은? 피자
최애 음식은? 짜장면

In [21]:
# for in문에서는 num이라는 변수값이 굳이 필요가 없음.

for _ in range(1,4) :
    input("최애 음식은?")

최애 음식은? 햄버거
최애 음식은? 피자
최애 음식은? 짜장면

In [23]:
range(3)

# 0에서 시작해서 3 이전까지의 값을 찾아와라.

range(0, 3)

In [25]:
range(0,3)

# range(0,3) = [1,2,3]을 의미 / range라는 함수가 [1,2,3]의 값을 반환했다.

range(0, 3)

In [26]:
data_list = ["list1","list2","list3"]

print(data_list[0])
print(data_list[1])
print(data_list[2])

list1
list2
list3

In [29]:
data_list = ["list1","list2","list3"]

for index in data_list :
    print(index)

list1
list2
list3

In [36]:
for index in range(1,11) :
    print(index)

result = index + 1
result

1
2
3
4
5
6
7
8
9
10

11

In [40]:
sum = 0 # 전역변수 = 프로그램 전체에서 접근 가능한 변수

for index in range(1,11) :
    sum = sum + index


print(sum)

55

In [43]:
sum = 0

for index in range(1,11) :
    # sum = sum + index
    # 복합대입연산자
    sum += index  #sum을 +하면 index
    sum -= index  #sum을 -하면 index

sum

-55

In [70]:
while 1 :            #truthy한 값으로 인식 -> while문은 무한출력의 늪에 빠짐. 컨트롤 위해서는 기저조건 필요.
    print("Hello World")

SyntaxError: invalid syntax (291923434.py, line 1)

In [47]:
name = ""

while name != "foo" :
    name = input("What is your name?")
    print(f"Hi~ {name}!! 'Where is foo?'")

What is your name? stacy

Hi~ stacy!! 'Where is foo?'

What is your name? Jung

Hi~ Jung!! 'Where is foo?'

What is your name? foo

Hi~ foo!! 'Where is foo?'

### 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for문을 활용해서 작성해주세요.

In [51]:
sum = 0

for _ in range(1,11) :
    sum = sum + _
print(sum)

55

### 사용자로부터 2~9 사이의 숫자를 입력받은 후 해당 숫자에 대한 구구단을 출력해주세요!

In [60]:
# 1. 사용자에게 값을 받는다.
# 2. 사용자에게 받은 값을 변수에 넣고, 해당 변수의 값을 가지고 반복적으로 1~9까지 곱해준다.
# 3. 1~9까지 반복적으로 곱해주기 위해서 반복문을 사용한다.
# 4. 반복문을 사용하기 위해서 range(1,10) 함수 및 인자값을 사용한다.

In [67]:
data = int(input("구구단을 위한 숫자를 입력해주세요!"))


if data >=2 and data <=9 :
    for digit in range(1,10) :
        print(f"{data} x {digit} = {data * digit}")
else :
    print("2~9사이의 숫자만 입력해주세요!")

구구단을 위한 숫자를 입력해주세요! 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

### name = "[Dave],[David],[Andy],[Juliet]"
- 위 name이라는 변수 안에 담긴 값을 다음처럼 화면에 출력해주세요.
``` 
  Dave
  David
  Andy
  Juliet
```

In [82]:
name = "[Dave],[David],[Andy],[Juliet]"

name01 = name.split(",")

for str_name in name01 :
    print(str_name[1:-1])

Dave
David
Andy
Juliet

### 1부터 30까지의 숫자 중 3의 배수만 출력해주세요!! (*while문을 활용해서 값을 도출하세요.)

In [83]:
# 1부터 30까지의 숫자를 반복문을 활용해서 생성 및 찾아오기
# 생성 및 찾아온 숫자 중에서 3의 배수를 찾는다 => 3으로 나누었을 때, 나머지의 값이 0 => %

num = 0

while num <= 30 :
    num += 1
    if num % 3 == 0 :
        print(num)

3
6
9
12
15
18
21
24
27
30

### 1부터 30까지의 숫자 중 3의 배수만 출력해주세요! ( *for문을 활용해서 값을 도출하세요)

In [85]:
for data in range(1, 31) :
    if data % 3 == 0 :
        print(data)

3
6
9
12
15
18
21
24
27
30

### 다음 리스트 자료구조에서 음수값은 삭제하고, 양수값만 가지고 있는 새로운 리스트 변수로 만들어서 출력해주세요.
- num_list = [0, -11, 31, 22, -11, 33, -44, -55]

- num_list 변수값 지정하기
- 생성한 변수에서 음수값 찾고 삭제 지정하기
- 생성한 변수에서 양수값 찾기
- 남아있는 양수값으로 새로운 리스트 변수 만들기

In [91]:
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
new_list = list()

for num in num_list :
    if num >= 0 :
        new_list.append(num)
new_list

[0, 31, 22, 33]

### 아래 리스트에 있는 데이터들의 길이를 출력해주세요. (*단, 1줄에 1개씩 구분해서 출력)
- list_data = ["Java","C++","Python","Node"]
```
4
3
6
4
```

In [97]:
list_data = ["Java","C++","Python","Node"]

for data in list_data :
    print(len(data))

4
3
6
4

filelist = ["exercise01.docx","exercise02.docx","exercise03.docx","exercise04.docx"]
```
exercise01
exercise02
exercise03
exercise04
```

In [111]:
filelist = ["exercise01.docx","exercise02.docx","exercise03.docx","exercise04.docx"]

for file in filelist :
    print(file.split(".")[0])

exercise01
exercise02
exercise03
exercise04

### filelist = ["exercise01.docx","exercise02.csv","exercise03.txt","exercise04.hwp"]
- 확장자가 "txt"인 값만 출력 !!!!
```
exercise03.txt
```

In [112]:
filelist = ["exercise01.docx","exercise02.csv","exercise03.txt","exercise04.hwp"]

for filename in filelist :
    if filename.split(".")[1] == "txt" :
        print(filename)

exercise03.txt

In [114]:
filelist = ["exercise01.docx","exercise02.csv","exercise03.txt","exercise04.hwp"]

for filename in filelist :
    if filename.split(".")[1] == "hwp" :
        print(filename)

exercise04.hwp