In [4]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [25]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = "forena1303!!",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [26]:
db

In [27]:
ecommerce_v1 = db.cursor()

In [28]:
ecommerce_v1
# 이 db이름만 입력했을 때 Cursor 떠야 함!

In [29]:
sql = """
    CREATE TABLE product(
        product_CODE VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2)
    );
"""

In [30]:
sql
# 우리가 입력한 테이블 정보가 뜸

'\n    CREATE TABLE product(\n        product_CODE VARCHAR(20) NOT NULL PRIMARY KEY,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT,\n        DISCOUNT_PRICE INT,\n        DISCOUNT_PERCENT INT,\n        DELIVERY VARCHAR(2)\n    );\n'

In [ ]:
ecommerce_v1.execute(sql)

In [9]:
db.commit()

In [10]:
db.close()

In [1]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = "forena1303!!",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [33]:
cursor = db.cursor()

In [3]:
for index in range(10) :
    product_code = 215670513 + index + 1
    SQL = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )
    """
    print(SQL)
    cursor.execute(SQL)

        INSERT INTO product VALUES(
            '215670514',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670515',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670516',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670517',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670518',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670519',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670520',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670521',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670522',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215670523',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )

In [ ]:
(X) cursor.execute(SQL)
# 파이썬에서 SQL을 실행하는 명령어
# 이 반복문이 저 for문 안에 있어야 함! 여기서 실행시키면 10개가 아닌 1개만 들어감 (위에서 실행시키고 여기서 또 실행시키면 에러 뜸 주의)

In [4]:
db.commit()

In [5]:
db.close()

In [34]:
SQL = "SELECT * FROM product"
cursor.execute(SQL)
row = cursor.fetchone()

print(row)

('215670514', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [15]:
# fetchall() : 해당 테이블 내 모든 데이터를 가져옵니다.
# fetchone() : 매칭되는 해당 값 중 첫번째 값을 가져옵니다.
# > 이미 앞에서 먼저 찾아온 값이 존재한다면, 해당 값 이후부터 값을 찾아옵니다.
# fetchmany() : 해당 메서드함수 내 인자값으로 작성된 숫자만큼의 데이터를 가져옵니다.

In [7]:
row = cursor.fetchone()
print(row)

None

In [8]:
rows = cursor.fetchmany(2)
print(rows)

()

In [9]:
rowsAll = cursor.fetchall()
for row in rowsAll :
    print(row)

In [46]:
SQL = """
    UPDATE product SET
        TITLE = "썸머 가디건 코디전", 
        ORI_PRICE = 33000, 
        DISCOUNT_PRICE = 9900, 
        DISCOUNT_PERCENT = 70
    WHERE PRODUCT_CODE = "215670520"
"""

In [47]:
cursor.execute(SQL)

1

In [48]:
db.commit()

In [49]:
# 프로그래밍 언어는 CRUD -> 4가지 기능을 기본적으로 가지고 있다.

In [50]:
SQL = """DELETE FROM product WHERE PRODUCT_CODE = '215673150';"""
print(SQL)

DELETE FROM product WHERE PRODUCT_CODE = '215673150';

In [51]:
cursor.execute(SQL)

1

In [52]:
db.commit()