### SQL 학습 전, 반드시 알고가야 하는 개념정의
1. 데이터 (Data)
2. 데이터베이스 (Database)
3. 스키마 (Schema)
4. 테이블 (Table)
5. SQL

#### 1. 데이터 (Data)
- 수집 가능한 값, 사실, 기록물 등의 "원초적인 정보"
- 숫자 : 23, 5.9
- 문자 : "David","2025-07-31"
- 상태 : True, False
- 데이터 그 자체로는 의미가 부족 -> 구조화가 되어야 데이터는 비로소 가치를 갖게 됨

#### 2. 데이터베이스 (Database = DB)
- 여러가지 다양한 데이터를 구조적이고 체계적으로 저장 및 관리할 수 있도록 해주는 저장소
- 종류
  - 관계형 데이터베이스 (RDBMS -> ex) Oracle // MySQL)
  - 비관계형 데이터베이스 (DMBS -> MongoDB)
- 오프라인 가게를 운영하는데 일일 고객 주문정보, 특정 기간동안 사용한 재고 수량 등

#### 3. 스키마 (Schema)
- 데이터베이스의 구조를 정의한 것 (개념적인 용어)
- 데이터베이스를 어떻게 구조화할 것인지를 정의해놓은 일종의 설계도
- 스키마는 데이터베이스 내부에 존재하는 논리적 구조 (사전적 정의)

#### 4. 테이블 (Table)
- 관계형 데이터베이스 안에 저장된 실제 데이터의 저장 단위
- 테이블의 구성 요소
  - 열 (Column) => 속성 (열 안에 들어가는 데이터) (ex. 고객의 나이, 성별, 이메일 등)
  - 행 (Row) => 레코드 (행 안에 들어가는 데이터) (ex. 한 명의 고객)

#### 5. SQL (Structured Query Language)
- 데이터베이스에 데이터를 저장, 조회, 수정, 삭제할 때 사용하는 표준 프로그래밍 언어 (데이터베이스를 조작하는 언어)
- 관계형 데이터베이스를 정의, 조작, 제어 할 수 있도록 도와주는 표준 언어
- 종류
  - DDL (Data Definition Language) : CREATE, DROP, ALTER
  - DML (Data Manipulation Language) : SELECT, INSERT, UPDATE, DELETE
  - DCL (Data Control Language) : GRANT, REVOKE

#### 지금까지 설명한 내용에 대한 정리 & 요약

- 데이터 : 가장 하위 개념. 원초적인 정보 의미
- 테이블 : 해당 데이터를 담은 (*구조화) 틀
- 스키마 : 이러한 테이블 간 관계를 정의한 설계도면
- 데이터베이스 : 스키마의 개념 속에 존재하는 테이블이 포함된 상위 구조 및 개념
- SQL : 이 모든 구조를 만들고, 조작하고, 제어할 수 있도록 해주는 언어

#### 지금까지 학습했던 데이터 수집 관련 프로그램 정의
- 아나콘다 (Anaconda) : 파이썬 통합 관리 플랫폼
  - 역할 : 파이썬 관련 다양한 라이브러리, 실행환경, 패키지 등을 종합적으로 제공해주는 플랫폼
- 주피터 노트북 (Jupyter Notebook) : 파이썬 코딩 프로그램
- MySQL : 관계형 데이터베이스 구조 공간을 설계하도록 지원해주는 관계형데이터베이스 전문 프로그램
- MySQL WorkBench : MySQL을 시각적으로 보면서 테이블을 설계하고 각각의 테이블간 관계를 설정할 수 있도록 도와주는 GUI 방식의 보조 프로그램

#### 프로그래밍 영역에서 꼭 알고 있어야 하는 상식
- C : Create
- R : Read
- U : Update
- D : Delete

#### 테이블 생성

```
CREATE TABLE 테이블이름 (
    컬럼명(속성형) 데이터형, 
    컬럼명(속성형) 데이터형
    ...
    기본키 (*Primary KEY)
)
```

#### 미션 1! 
1. Dave 라는 DB 생성
2. 해당 DB 안에 다음과 같은 속성을 가지고 있는 테이블을 생성하세요.
3. id, name, modelnumber, series
4. id는 양의 정수값 & 필수값 & 자동증가
5. name은 최대 50자까지 가능한 문자열 & 필수값
6. modelnumber은 최대 15자까지 가능한 문자열 & 필수값
7. series는 최대 30자까지 가능한 문자열 & 필수값
8. 고유식별키는 id

#### 미션 1-2!
1. name의 최대 문자입력 값을 20으로 변경
2. modelnumber 속성명을 model_number로 변경 & 최대 10자까지로 변경
3. series 속성명을 model_type으로 변경 & 최대 10자까지로 변경

#### 미션 1-3!
1. 기존 데이터베이스 내 mytable을 삭제하세요.
2. model_info라는 새로운 테이블을 만들어주세요.
3. 해당 테이블 안에는 id, name, model_num, model_type의 속성값을 설정해주세요.
4. 고유키는 id여야 하며, 필수값, 자동증가 속성 부여해주세요.
5. name은 최대 20자까지 허용가능, 필수값
6. model_num은 최대 10자까지 허용 가능, 필수값
7. model_type은 최대 10자까지 허용가능, 필수값

### DDL
- CREATE DATABASE dbname
- CREATE DATABASE IF NOT EXISTS dbname
- SHOW DATABASES
- USE dbname
- CREATE TABLE tablename
- DROP TABLE tablename
- DROP TABLE IF EXISTS tablename
- ALTER TABLE tablename ADD COLUMN 속성명 속성값;
- ALTER TABLE tablename MODIFY COLUMN 속성명 속성값;
- ALTER TABLE tablename CHANGE COLUMN 속성명A 속성명B 속성값;
- ALTER TABLE tablename DROP COLUMN 속성명;