### 사용자로부터 어떤 값을 받고, 해당 값을 한화(*한국돈)으로 바꿔서 출력되도록 해주세요.
- ex) 100 => 환율 1112원 // 111200원으로 출력되도록 해주세요.

In [4]:
# 1. 사용자에게 값을 받는다 -> input(),int()
# 2. 사전에 환율을 정의해서 특정 변수에 할당해 놓는다. -> 변수 정의만 하면 됨
# 3. 사용자에게 받은 값을 사전에 정의해놓은 환율과 계산한다.   -> 연산자만 알면 됨
# 4. 사용자의 값과 환율을 계산한 그 결과값을 출력한다.  ->print()

In [16]:
dollar = input("환전하고 싶은 달러를 입력해주세요. ex)100달러")

cash = int(dollar.strip("달러"))

won = cash * 1112
print(f"{won}원")

환전하고 싶은 달러를 입력해주세요. ex)100달러 100달러

111200원

In [19]:
price = input("환전하고 싶은 달러를 입력해주세요, ex)100달러")
exchange = 1112 

dollar = int(price.replace("달러", ""))
result = dollar * exchange
print(f"{result:,}원")     #숫자의 경우 :,를 주면 천 단위에서 쉼표로 끊어줌

환전하고 싶은 달러를 입력해주세요, ex)100달러 100달러

111,200원

### 달러의 환율을 1112원으로 설정하고 위안화의 환율을 171원으로 설정하고 엔화의 환율을 1010원으로 설정을 하되, 해당 화폐당 환율의 값을 딕셔너리라는 자료구조로 정의하고 사용자가 달러 혹은 엔화 혹은 위안화 값을 입력했을 때, 해당 값을 한화로 바꿔서 출력될 수 있도록 해주세요.
- ex) 100달러 => 111,200원 // 100위안 => 17,100원

In [25]:
exchange_list = {"달러":1112,"위안":171,"엔화":1010}
user_money = input("환전하고 싶은 금액 입력")
#100달러

if user_money[-2:] == "달러" :
    print(f"{exchange_list['달러'] * int(user_money[:-2]):,}원")   #밖에서 큰 따옴표를 쓰려면 내부에서는 작은따옴표를 써야 함
elif user_money[-2:] == "위안" :
    print(f"{exchange_list['위안'] * int(user_money[:-2]):,}원")
elif user_money[-2:] == "엔화" :
    print(f"{exchange_list['엔화'] * int(user_money[:-2]):,}원")
else :
    print("달러,위안,엔화 중 하나를 입력해주세요!")

환전하고 싶은 금액 입력 20엔화

20,200원

In [26]:
# 2~9단까지 => 1) 숫자 2부터 9까지 반복순회!!!! 2) 피연산자로 1부터 9까지 반복순회!!! 2 * 1 = 2

In [30]:
for num01 in range(2,10) :
    print("------------------------")
    print(f"- 구구단 {num01}단 -")
    print("------------------------")
    for num02 in range(1,10) :
        print(f"{num01} * {num02} = {num01 * num02}")
    print("\n")

------------------------
- 구구단 2단 -
------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


------------------------
- 구구단 3단 -
------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


------------------------
- 구구단 4단 -
------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


------------------------
- 구구단 5단 -
------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


------------------------
- 구구단 6단 -
------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


------------------------
- 구구단 7단 -
------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


------------------------
- 구구단 8단 -
------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


------------------------
- 구구단 9단 -
------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 위에서 작성한 코드를 활용해서 다음과 같은 결과를 출력해주세요. 구구단 2~9단까지 출력하되, 계산된 결과값이 짝수인 경우만 출력해주세요!! 
- ex) 3 x 3 = 9이기 때문에 출력되면 안됨. 2 x 4 = 8 이기 때문에 출력되어야 함

In [43]:
for num01 in range(2,10) :
    print("------------------------")
    print(f"- 구구단 {num01}단 -")
    print("------------------------")
    for num02 in range(1,10) :
        if (num01 * num02) % 2 == 0 :
            print(f"{num01} * {num02} = {num01 * num02}")
    print("\n")

------------------------
- 구구단 2단 -
------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


------------------------
- 구구단 3단 -
------------------------
3 * 2 = 6
3 * 4 = 12
3 * 6 = 18
3 * 8 = 24


------------------------
- 구구단 4단 -
------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


------------------------
- 구구단 5단 -
------------------------
5 * 2 = 10
5 * 4 = 20
5 * 6 = 30
5 * 8 = 40


------------------------
- 구구단 6단 -
------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


------------------------
- 구구단 7단 -
------------------------
7 * 2 = 14
7 * 4 = 28
7 * 6 = 42
7 * 8 = 56


------------------------
- 구구단 8단 -
------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


------------------------
- 구구단 9단 -
------------------------
9 * 2 = 18
9 * 4 = 36
9 * 6 = 54
9 * 8 = 72

## dongs = ["6209동","6208동","6207동"]                   
## hos = ["101호","102호","103호","104호"]

```
6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호
```

In [54]:
dongs = ["6209동","6208동","6207동"]
hos = ["101호","102호","103호","104호"]
for dong in dongs :
    print("\n")
    for ho in hos :
        print(f"{dong} {ho}")

6209동 101호
6209동 102호
6209동 103호
6209동 104호


6208동 101호
6208동 102호
6208동 103호
6208동 104호


6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [49]:
dongs = ["6209동","6208동","6207동"]
hos = ["101호","102호","103호","104호"]

for item_1 in dongs:
    for item_2 in hos:
        print(item_1,item_2)
    print()

6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [55]:
tupledata = ("coding01","coding02","coding03")   #튜플 상태에서는 자료추가 안되므로 리스트 형태로 바꿔서 자료추가후 다시 튜플 형태로 전환
temp_list = list(tupledata)
temp_list.append("coding04")
result = tuple(temp_list)

result

('coding01', 'coding02', 'coding03', 'coding04')

In [59]:
tupledata = ("coding01","coding02","coding03")       #but 튜플끼리 합치기는 가능!

tuple(list(tupledata) + ["coding04"])

('coding01', 'coding02', 'coding03', 'coding04')

### 딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해주세요.

```
environment : 환경
company : 회사
government : 정부
face : 얼굴
```

In [60]:
data = {
    "environment":"환경",
    "company":"회사",
    "government":"정부",
    "face":"얼굴",
}

In [66]:
for item in data.keys() :
    print(f"{item} : {data[item]}")

environment : 환경
company : 회사
government : 정부
face : 얼굴

### 딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해주세요.

```
environment : 환경 x
company : 회사 o
government : 정부 x
face : 얼굴 x
```

In [69]:
data = {
    "environment":["환경","x"],
    "company":["회사","o"],
    "government":["정부","x"],
    "face":["얼굴","x"],
}

In [70]:
for item in data.keys() :
    print(f"{item} : {data[item]}")

environment : ['환경', 'x']
company : ['회사', 'o']
government : ['정부', 'x']
face : ['얼굴', 'x']

### 사용자로부터 사전에 등록되어 있는 단어들 중 1개를 입력받으세요. 그러면 입력받은 단어의 경우, 외움표시 o 표시로 수정하고, 아직 외우지 못한 단어들만 출력하는 프로그램 코드를 작성해주세요!!

In [89]:
english = input("다 외운 단어 입력하기")
if english in data.keys() :
    data[english][1] = "o"
else :
    print("사전에 존재하지 않는 단어입니다!")

for item in data.keys() :
    data_list = data[item]
    if data_list[1] == "x" :
        print(item)

다 외운 단어 입력하기 face

### dict_all = {"environment":"환경","government":"정부"}
### dict2 = {"company":"회사","face":"얼굴"}
### dict3 = {"apple":"사과"}
- dict_all 안에 dict2와 dict3 값을 모두 넣어주세요! 그리고 dict_all 값을 출력해주세요.
- * 딕셔너리는 키값을 중심으로 출력됨

In [6]:
dict_all = {"environment":"환경","government":"정부"}
dict2 = {"company":"회사","face":"얼굴"}
dict3 = {"apple":"사과"}

for item in dict2 :
    dict_all[item] = dict2[item]

for item in dict3 :
    dict_all[item] = dict3[item]

dict_all

{'environment': '환경',
 'government': '정부',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [90]:
dict_all = {"environment":"환경","government":"정부"}
dict2 = {"company":"회사","face":"얼굴"}
dict3 = {"apple":"사과"}

for item in dict2.keys() :
    dict_all[item] = dict2[item]
    
for item in dict3.keys() :
    dict_all[item] = dict3[item]    

dict_all

{'environment': '환경',
 'government': '정부',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [94]:
number_list = {1,2,3}
number_list.add(4)
number_list.add(5,6)      #set.add()함수는 값을 추가할 수 있으나 한 번에 하나씩밖에 추가할 수 없음. 복수 추가 함수는 set.update([])(이터러블한 상태로 값을 주어야 하므로)

number_list

TypeError: set.add() takes exactly one argument (2 given)

In [96]:
number_list = {1,2,3}
number_list.add(4)
number_list.update([5,6])
number_list.remove(2)


number_list

{1, 3, 4, 5, 6}

### 임의의 숫자 2개를 사용자에게 받으면 해당 2개의 숫자를 곱한 값을 반환하는 함수를 만들고, 해당 함수의 결과값을 화면에 출력해주세요.

In [97]:
num1 = int(input("첫번째 숫자"))
num2 = int(input("두번째 숫자"))

def f1(num1,num2) :
    return num1 * num2

print(f1(num1,num2))

첫번째 숫자 2
두번째 숫자 4

8

In [99]:
num_all = [int(input("숫자를 입력하세요")) for _ in range(2)]

def f1(num1,num2) :
    return num1 * num2

print(f1(num_all[0],num_all[1]))

숫자를 입력하세요 2
숫자를 입력하세요 4

8

### 인자값 3개를 받을 수 있는 함수를 호출합니다.
- func1(인자값1, 인자값2, 인자값3)
- 해당 함수의 3번째 인자값 = 인자값3, + => 첫번째 인자값과 두번째 인자값을 더한 결과값을 반환하도록 하고, 
 만약 세번째 인자값이 *라면, 첫번째 인자값과 두번째 인자값을 곱한 결과값을 반환하세요. 
 그런데 만약 3번째 인자값이 +도 아니고, *도 아니라면 무조건 0이라는 값을 반환하도록 하는 함수를 만들어주세요!

In [101]:
def calc(data1,data2, way) :
    if way == "+" :
        return data1 + data2
    elif way == "*" :
        return data1 * data2
    else :
        return 0

data01 = calc(1,2, "+")
data02 = calc(3,2, "*")
data03 = calc(2,4, "-")
print(data01, data02, data03)

3 6 0