### 문자열 관련 함수 리스트
- count : 문자열에 있는 특정 문자 갯수 세기
- index : 문자열에 있는 특정 문자의 인덱스 위치를 알려주기
- find : 문자열에 있는 특정 문자의 인덱스를 찾아오긴 하나, 만약 존재하지 않는다면 에러를 발생하지 않고 -1을 발생!!!
- join : 문자열 사이에 다른 문자를 끼워넣기
- strip : 문자열 앞뒤에 공백 지우기
- upper : 소문자를 대문자로 변경하기
- lower : 대문자를 소문자로 변경하기
- split : 특정 문자열을 기준으로 나누기 (split안에 값 넣지 않으면 공백을 기준을 나눔)
- replace : 문자열 중 일부를 다른 문자로 바꾸거나 혹은 삭제하기

In [48]:
data = "Dave David"
data.count("Dave")
data.count("D")

2

In [12]:
string = "Dave ID is dave"
string.index("D")
string.index("d")  #왼쪽부터 카운트하다가 만나는 순간 종결
# string.index("x")

11

In [19]:
string01 = "Dave ID is dave"
string01.find("a")
string01.find("x")

if string01.find("x") == -1 :
    print("x는 string01 문자열 객체 안에 없습니다.")

x는 string01 문자열 객체 안에 없습니다.

In [20]:
string02 = "12345"
comma = ","

comma.join(string02)

'1,2,3,4,5'

In [25]:
data01 = "      Dave      "
data01.strip()

data02 = "    Dave02       "
data02.rstrip()

data03 = "    Dave03  "
data03.lstrip()

'Dave03  '

In [35]:
string03 = "      9999999999999(Dave)88888888888888        "

string03.strip("9")  # 9 하나만 날림
string03.strip(" 9")  #여백과 함께 9를 다 날림
string03.strip(" 98")  #여백과 함께 9와 8을 다 날림
string03.strip(" 98()")  #여백과 함께 9와 8과 ()을 다 날림

'Dave'

In [39]:
string04 = "Dave ID is dave"
string04.upper()

'DAVE ID IS DAVE'

In [37]:
string05 = "Dave ID is dave"
string05.lower()

'dave id is dave'

In [46]:
string06 = "Dave goes to Korea"
string06.split()
string06.split(" ")  #두 명령문은 같음

['Dave', 'goes', 'to', 'Korea']

In [42]:
string06 = "Dave goes to Korea"
string06.split()[3]

'Korea'

In [47]:
string07 = "Dave/goes/to/Korea"
string07.split("/")

['Dave', 'goes', 'to', 'Korea']

#### 문자열 "10,11,12,13,14" 해당 값을 리스트 자료형태 [10,11,12,13,14]로 변환시켜보세요!!

In [68]:
string = "10,11,12,13,14"
split_string = string.split(",")

for index,split_item in enumerate(split_string) :
    split_string[index] = int(split_item)
print(split_string)

[10, 11, 12, 13, 14]

In [6]:
string = "10,11,12,13,14"
split_string = string.split(",")

for index,item in enumerate(split_string) :
    split_string[index] = int(item)
print(split_string)

[10, 11, 12, 13, 14]

In [4]:
string08 = "Dave goes to Korea"
string08.replace("Dave", "David")

string09 = "(David)"
string09.replace("(","")

string10 = "(David)"
string10.replace("()","")   #제거하고자하는 문자열이 해당 문자열과 정확하게 일치해야 제거할 수 있음

string11 = "(David)"
# string12 = string11.replace("(","")
# string12.replace(")","")

# Method Chaining
string13 = string11.replace("(","").replace(")","")
string13

'David'