In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\downloads\fireshot\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql

db = pymysql.connect(
    host="127.0.0.1",  # = host="localhost" 둘중에 아무거나 써도 됨
    port=3306,
    user="root",
    passwd="forena1303!!",
    db="ecommerce",
    charset="utf8"
)

In [26]:
ecommerce=db.cursor()

In [27]:
sql = """ 
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PRECENT INT,
        DELIVERY VARCHAR(10)
    );
"""

In [28]:
sql

' \n    CREATE TABLE product (\n        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT,\n        DISCOUNT_PRICE INT,\n        DISCOUNT_PRECENT INT,\n        DELIVERY VARCHAR(10)\n    );\n'

In [29]:
ecommerce.execute(sql)

OperationalError: (1050, "Table 'product' already exists")

In [13]:
db.commit()

In [14]:
db.close()

In [2]:
cursor = db.cursor()

In [3]:
for index in range(10) :
    product_code = 215673140 + index + 1
    sql = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        ); 
    """
    print(sql)
    cursor.execute(sql)

        INSERT INTO product VALUES(
            '215673141',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673142',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673143',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673144',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673145',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673146',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673147',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673148',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673149',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673150',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );

In [4]:
db.commit()

In [5]:
db.close()